/* ===== Global Styles ===== */
* {
  cursor: none !important;
}

body {
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 20px;
  background: url('photos/BorinquenBackground.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #333;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

/* ===== Custom Cursor ===== */
#customCursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background-image: url('custom-cursor.png');
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 10000;
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease;
}

/* ===== Headings ===== */
h1, header h1, footer {
  font-family: 'Sanchez', serif;
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #5f8133;
}

/* ===== Header Section ===== */
header {
  background-color: rgba(150, 173, 120, 0.97);
  color: #5f8133;
  padding: 20px;
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  border-radius: 1px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* ===== Images ===== */
img {
  width: 530px;
  height: auto;
  float: left;
  margin: 0 20px 20px 0;
  display: block;
}

/* ===== Navigation Styles ===== */
nav {
  text-align: center;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  background-color: #5f8133;
  color: black;
  font-family: 'Sanchez', serif;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s;
  display: inline-block;
}

nav ul li a:hover {
  background-color: #bfe194;
  color: #5f8133;
  transform: scale(1.1);
}

/* ===== Main Content Area ===== */
main {
  flex-grow: 1;
  padding: 20px 20px;
  max-width: 1200px;
  margin: auto;
  background-color: rgba(150, 173, 120, 0.97);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

main h2 {
  color: #5f8133;
  font-family: 'Sanchez', serif;
}

/* ===== Footer Section ===== */
footer {
  background-color: rgba(150, 173, 120, 0.97);
  padding: 20px;
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  border-radius: 1px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  font-size: 18px;
}
